<p-toolbar>
  <div class="p-toolbar-group-start" style="display: flex; align-items: center;">
    <i class="pi pi-folder-open"></i>
    <span style="font-weight: bold; font-size: 1.2rem;">
      Projetos
    </span>
  </div>

  <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        placeholder="Pesquisar projeto"
        [(ngModel)]="name"
        (ngModelChange)="filterProjectsByName(name)"
      />
    </span>
  </div>

  <div class="flex p-toolbar-group-end" style="gap: 1rem;">
    <p-button icon="pi pi-plus" (onClick)="openNewProjectDialog()" styleClass="p-button-primary"></p-button>
    <p-button icon="pi pi-pencil" styleClass="p-button-info"></p-button>
    <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>


<div class="cards">
  <p-card *ngFor="let project of filteredProjects" [header]="project.name | shorten: 20" [style]="{ width: '360px' }">
    <div>
      <p><strong>Nome do Projeto:</strong> {{ project.name | shorten: 15 }}</p>
      <p><strong>Descrição:</strong> {{ project.description | shorten: 20 }}</p>
      <p><strong>Responsável:</strong> {{ project.responsible.name | shorten: 20 }}</p>
      <p><strong>Data de Início:</strong> {{ project.startDate }}</p>
      <p><strong>Status:</strong> {{ project.status }}</p>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex btn gap-3 mt-1 justify-content-center">
        <p-button label="Ver Mais" class="w-full show-more" (onClick)="openShowMore(this.project)"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>

<p-dialog
  header="Detalhes do Projeto"
  [modal]="true"
  [(visible)]="isVisibleShowMoreDialog"
  [style]="{ width: '50rem', 'max-height': '90vh' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  (onHide)="onCloseDialog('showMore')">

  <div *ngIf="selectedProject" class="project-details">
    <div class="detail-item"><strong>Nome:</strong> {{ selectedProject.name }}</div>
    <div class="detail-item"><strong>Descrição:</strong> {{ selectedProject.description }}</div>
    <div class="detail-item"><strong>Data de Início:</strong> {{ selectedProject.startDate }}</div>
    <div class="detail-item"><strong>Data de Fim:</strong> {{ selectedProject.endDate }}</div>
    <div class="detail-item"><strong>Status:</strong> {{ selectedProject.status }}</div>
    <div class="detail-item"><strong>Responsável:</strong> {{ selectedProject.responsible.name }}</div>
    <div class="detail-item"><strong>Prioridade:</strong> {{ selectedProject.priority }}</div>
  </div>
</p-dialog>

<p-dialog header="Novo Projeto" [(visible)]="isVisibleNewProjectDialog" [modal]="true" [style]="{ width: '50rem', 'max-height': '90vh' }">
  <div class="p-fluid">
    <form [formGroup]="addProjectForm">
      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="nome">Nome do Projeto</label>
        <input id="nome" type="text" pInputText formControlName="name" />
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="descricao">Descrição</label>
        <input id="descricao" type="text" pInputText formControlName="description" />
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="dataInicio">Data de Início</label>
        <p-calendar id="dataInicio" formControlName="startDate" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="dataFim">Data de Fim</label>
        <p-calendar id="dataFim" formControlName="endDate" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="status">Status</label>
        <p-dropdown id="status" [options]="statusOptions" formControlName="status" appendTo="body"></p-dropdown>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="responsavel">Responsável</label>
                <!-- TODO: Implementar lista responvaveis pegando do back-end -->
        <p-dropdown id="responsavel" [options]="responsibleOptions" formControlName="responsible" optionLabel="name" appendTo="body"></p-dropdown>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="prioridade">Prioridade</label>
        <p-dropdown id="prioridade" [options]="priorityOptions" formControlName="priority" appendTo="body"></p-dropdown>
      </div>
    </form>
  </div>

  <p-footer>
    <button pButton label="Salvar" (click)="createProject()" icon="pi pi-check"></button>
    <p-button label="Cancelar" icon="pi pi-times" (onClick)="onCloseDialog('newProject')" styleClass="p-button-secondary"></p-button>
  </p-footer>
</p-dialog>

