<div class="container">
  <div class="left-side">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <div class="content-sign flex justify-content-center align-content-center text-align-center">
        <p-card styleClass="mt-10 mb-10 custom-card" header="Login" subheader="Faça login com sua conta existente">

          <div class="flex justify-content-center align-content-center text-align-center">
            <input
              type="text"
              pInputText
              placeholder="Usuario"
              formControlName="name"/>
          </div>

          <div class="flex justify-content-center align-content-center text-align-center">
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"/>
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-2">
            <button
              type="submit"
              pButton
              pRipple
              label="Entrar"
              [disabled]="!this.loginForm.valid">
            </button>
          </div>

          <p-toast
            position="top-right"
            [showTransformOptions]="'translateY(100%)'"
            [showTransitionOptions]="'1000ms'"
            [hideTransitionOptions]="'1000ms'"
            [breakpoints]="{'920px': {width: 'auto', right: '1em', left: 'auto'}}">
          </p-toast>
        </p-card>
      </div>
    </form>
  </div>

  <div class="right-side">
    <div>
      <img src="" alt="">
    </div>
  </div>
</div>
