::ng-deep body {
  margin: 0 !important;
}

input {
  margin-bottom: 10px;
  padding: 10px;
}

input[pInputText] {
  width: 100%;
}

button {
  padding: 10px;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side, .right-side {
  flex: 1;
  width: 50%;
}

.left-side {
  background: linear-gradient(90deg, rgba(12, 0, 215, 1) 0%, rgba(0, 0, 195, 1) 51%, rgba(0, 0, 130, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  background-image: url(../../../../assets/imgs/chrono-logo.png);
  background-color: #F0F0F0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

::ng-deep .p-card {
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

::ng-deep .p-card-title {
  margin-bottom: 5px;
}

::ng-deep .p-card-subtitle {
  margin-bottom: 15px;
  color: #6b7280;
}

#forget-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #2563eb;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 820px) {
  .right-side {
    display: none;
  }

  .content-sign {
    width: 100%;
  }
}
