<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-start" style="display: flex; align-items: center;">
    <i class="pi pi-file"></i>
    <span style="font-weight: bold; font-size: 1.2rem;">
      Atividades
    </span>
  </div>

  <div class="p-toolbar-group-center">

  </div>

  <div class="flex p-toolbar-group-end" style="gap: 1rem;">
  <span style="font-weight: bold; font-size: 1rem;"> {{ getProjectName() }} </span>
  </div>
</p-toolbar>

<div class="cards">
  <p-card styleClass="shadow-3 mt-5">
    <div style="max-width: 100%; overflow-x: auto;">
      <app-activities-form
        [activities]="activities"
        [projectId]="project.id"
        (activityCreated)="handleActivityCreated()"
        (activityUpdated)="handleActivityUpdated()"
        (activityDeleted)="handleActivityDeleted()">
      </app-activities-form>

      <app-activities-table
        [activities]="filteredActivities"
        [project]="project"
        (editActivity)="openEditActivityDialog($event)"
        (deleteActivity)="openDeleteActivityDialog($event)">
      </app-activities-table>
    </div>
  </p-card>
</div>
