<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-start" style="display: flex; align-items: center;">
    <i class="pi pi-file"></i>
    <span style="font-weight: bold; font-size: 1.4rem;">
      Atividades
    </span>
  </div>

  <div class="p-toolbar-group-center">
    <!-- Center content can be added here if needed -->
  </div>

  <div class="flex p-toolbar-group-end" style="gap: 1rem;">
    <span style="font-weight: bold; font-size: 1.2rem;">{{ getProjectName() }}</span>
  </div>
</p-toolbar>

<div class="cards">
  <p-card styleClass="shadow-3 mt-5">
    <div style="max-width: 100%; overflow-x: auto;">
      <div class="activities-content">
        <app-activities-form
          [activities]="filteredActivities"
          [projectId]="project.id || ''"
          (activityCreated)="handleActivityCreated($event)"
          (activityUpdated)="handleActivityUpdated($event)"
          (activityDeleted)="handleActivityDeleted()">
        </app-activities-form>

        <app-activities-table
          [activities]="filteredActivities"
          [project]="project"
          (editActivity)="openEditActivityDialog($event)"
          (deleteActivity)="openDeleteActivityDialog($event)">
        </app-activities-table>
      </div>
    </div>
  </p-card>
</div>
