<div class="cards">
  <p-card styleClass="shadow-3 mt-5">
    <div style="max-width: 100%; overflow-x: auto;">
    <div class="flex justify-content-between mb-2 flex-wrap">
      <p-dropdown [options]="statusOptions" placeholder="Selecione um filtro" class="mb-2"></p-dropdown>
      <button pButton (click)="openNewActivityDialog()" type="button" label="Criar" icon="pi pi-plus" class="p-button-primary mb-2"></button>
    </div>

      <p-table
        #activitiesTable
        [value]="filteredActivities"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [globalFilterFields]="['name', 'description', 'startDate', 'endDate', 'status', 'responsible.name', 'createdDate']"
        [(selection)]="activitySelected"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} atividades"
        [ngStyle]="{ 'width': '100%' }"
      >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" scope="col">
              <div class="flex justify-content-between align-items-center">
                <span>Nome</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="name"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="description" scope="col">
              <div class="flex justify-content-between align-items-center">
                <span>Descrição</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="description"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="description"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="startDate" scope="col">
              <div class="flex justify-content-between align-items-center">
                <span>Data de Início</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="startDate"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="startDate"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="endDate" scope="col">
              <div class="flex justify-content-between align-items-center">
                <span>Data de Término</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="endDate"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="endDate"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="status" scope="col">
              <div class="flex justify-content-between align-items-center">
                <span>Status</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="status"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="status"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="responsible.name" scope="col">
              <div class="flex justify-content-between align-items-center">
                <span>Responsável</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="responsible.name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="responsible.name"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

          </tr>
        </ng-template>

        <!-- Corpo da tabela -->
        <ng-template pTemplate="body" let-activity>
          <tr>
            <td>{{ activity.name | shorten: 15 }}</td>
            <td>{{ activity.description | shorten: 20 }}</td>
            <td>{{ activity.startDate }}</td>
            <td>{{ activity.endDate }}</td>
            <td>{{ activity.status }}</td>
            <td>{{ activity.responsible.name | shorten: 15}}</td>
          </tr>
        </ng-template>

        <!-- Rodapé opcional -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center">Nenhuma atividade encontrada.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div>

<!-- Modal/Dialog de criar atividade -->
<p-dialog header="Nova Atividade" [(visible)]="isVisibleNewActivityDialog" [modal]="true" [style]="{ width: '50rem', 'max-height': '90vh' }">
  <div class="p-fluid">
    <form [formGroup]="addActivityForm">
      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="nome">Nome da Atividade</label>
        <input id="nome" type="text" pInputText formControlName="name" class="p-inputtext p-component" />
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="descricao">Descrição</label>
        <input id="descricao" type="text" pInputText formControlName="description" class="p-inputtext p-component" />
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="dataInicio">Data de Início</label>
        <p-calendar id="dataInicio" formControlName="startDate" dateFormat="dd/mm/yy" [showIcon]="true" appendTo="body"></p-calendar>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="dataFim">Data de Fim</label>
        <p-calendar id="dataFim" formControlName="endDate" dateFormat="dd/mm/yy" [showIcon]="true" appendTo="body"></p-calendar>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="status">Status</label>
        <p-dropdown
          id="status"
          [options]="statusOptions"
          optionLabel="label"
          optionValue="value"
          formControlName="status"
          appendTo="body">
        </p-dropdown>
      </div>

      <div class="p-field" style="margin-bottom: 1rem;">
        <label for="responsavel">Responsável</label>
        <p-dropdown id="responsavel" [options]="responsibleOptions" formControlName="responsible" optionLabel="name" appendTo="body"></p-dropdown>
      </div>
    </form>
  </div>

  <p-footer>
    <button pButton label="Salvar" (click)="createActivity()" icon="pi pi-check"></button>
    <p-button label="Cancelar" icon="pi pi-times" (onClick)="onCloseDialog('newActivity')" styleClass="p-button-secondary"></p-button>
  </p-footer>
</p-dialog>
